/*margen de todo*/
.t-3{
    margin: &spacer !important;
}
/*margenes izquierda*/
.ml-3{
    margin-left: &spacer !important;
}
/*margenes derecha*/
.mr-3{
    margin-right: $spacer !important;
}
/*margenes arriba*/
.mt-3{
    margin-top: &spacer !important;
}
/*margenes abajo*/
.mb-3{
    margin-bottom: $spacer !important;
}
/*padding de todo*/
.p-3{
    padding: &spacer !important;
}
/*padding izquierda*/
.pl-3{
    padding-left: &spacer !important;
}
/*padding derecha*/
.pr-3{
    padding-right: $spacer !important;
}
/*padding arriba*/
.pt-3{
    padding-top: &spacer !important;
}
/*padding abajo*/
.pb-3{
    padding-bottom: $spacer !important;
}