{% extends "base.html" %}
{% block title %}Usuario{% endblock %}
{% block content %}
<form class="m-3 p-3 border border-primary rounded">
    <div>
        <label>Nombre: {{ user }}</label>
        <p>Grupo: {{ user_groups }}</p>
    </div>
    <div>
        <label>Año de nacimiento: <input type="number" name="nacido" min="1900" max="2005"></label>
    </div>
    <div>
        <label>Sexo:
            <input type="radio" name="hm" value="h"> Hombre
            <input type="radio" name="hm" value="m"> Mujer
        </label>
        <br>
        <div>
            <input class="btn btn-primary aling-right" type="Submit" value="Guardar">
            <input class="btn btn-primary" type="reset" value="Reset">
        </div>
        <br>
        <div>
            <!--borrar usuario -->
            <input class="btn btn-primary" href="{{ url_for('delete_user', user=user)}}" type="submit"
                   value="Borrar Usuario">
        </div>
    </div>
</form>
{% endblock %}
