<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
      <p>Nombre: {{ user }}</p>
        <p>Grupo: {{ user_groups }}</p>
      <p>Año de nacimiento: <input type="number" name="nacido" min="1900" max="2005"></p>
      <p>Sexo:
        <input type="radio" name="hm" value="h"> Hombre
        <input type="radio" name="hm" value="m"> Mujer
      </p>
      <p>
        <input type="submit" value="Guardar">
        <input type="reset" value="Borrar">
      </p>
    </form>


</body>
</html>